---
---

// These are Libraries
@import "bourbon/bourbon";
@import "neat/neat";

// These are resets
@import "normalize";
@import "main";

// These are variables 
$font-size: 22px;
$serif-font-family:  'expo-serif-pro', Helvetica, sans-serif;
$sans-serif-font-family: 'Source Sans Pro', Helvetica, sans-serif;
$font-color: #353535;
$font-color-light: #ababab;

$max-width: 880px;

// Breakpoints
$babybear: 321px;
$mamabear: 769px;
$papabear: 1140px;
$monsterbear: 1300px;
/*
MEDIA QUERY EXAMPLES
Smaller than 321px: @include media(max-width $babybear){ ..CSS HERE.. }
Larger than 769px: @include media($mamabear){ ..CSS HERE.. }
Between 1140px and 1300px: @include media(min-width $papabear max-width $monsterbear){ ..CSS HERE.. }
*/

// Some Style Variables and what not
$primary-color: #81e6d9;
$border: 1px solid #ccc;
$error: #de3535;
$success: #d5f5d7;

/* Social Icons */
$twitter: #78cdf0 !default;
$facebook: #537bbd !default;
$instagram: #517fa4 !default;
$youtube: #bb0000 !default;
$pinterest:	#cb2027 !default;
$google: #dd4b39 !default;
$email:	lighten($font-color, 15%);

.so-icon{
	color: #fff;
	text-decoration: none;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	display: inline-block;
	font-size: 21px;
	position: relative;
	
	@include transition(.3s background);
	
	i{
		position: absolute;
		left: 0;
		top: 5px;
		right: 0;
		bottom: 0;
	}
	
}
/* End Social Icons */

@import "components";
@import "type";
@import "fonts";
@import "forms";
@import "header";
@import "post";

.page{
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 1em;
	margin-bottom: 4em;
	
	img{
		// Responsivable images!
		max-width: 100%;
	}
	
}

/* Sticky footer */
html,body{
	height: 100%;
}

.web-wrapper{
	min-height: 100%;
}


*{
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}