---
layout: page
fulltitle: Our Work
---

<!-- This is the project page! -->
<section class="page-header">
	<h2 class="page-title">Our Work</h2>
	<p class="page-subtitle">We've worked with a variety of clients such as one person startup bussiness, Fortune 500 enterprises, universities, and non-profits. For ever project we focus on user outcomes, usable interfaces, clean code, and working software. Yay!</p>
</section>

{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=0 %}

{% include project-grid.html type='' limit=10 offset=1 %}
 
{% include testimonial.html text="\"We are a creative firm in Northern California pushing ourselves and clients to execute ideas. We delve into creative strategy, branding, design and product.\"" credit="—Jake Elia, Some Company" class="quote-center dark"%}

{% include project-feature.html type='' limit=1 offset=6 %}

{% include footer-cta.html text="Become one of our case studies" %}