.logo {
	float: left;
}

h1.logo-image{
	background-image: url('../images/bamboo.svg');
	background-size: 100%;
	color: white;
	width: 140px;
	height: 50px;
	margin: 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

header.header{
	padding: 1em;
	@include clearfix;
	position: relative;
	z-index: 999;
			
	.page{
		@include outer-container();
	}
	
}

.mobile-menu-button {
	float: right;
	padding-top: 15px;
	display: none;
	@include media(max-width $screen-sm){
		display: block;
	}
	
}

nav.site-nav{
	font-family: $serif-font-family;
	font-weight: 200;
	font-style: italic;
	line-height: 1;
	position: relative;
	@include media(max-width $screen-sm){
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		background-color: white;
		display: none;
	}
	
	
	ul{
		float: right;
		display: block;
		margin: 0px auto;
		padding: 10px 0;
		width: 50%;
		text-align: justify;
		font-size: 0;
		@include media(max-width $screen-sm){
			width: 100%;
			float: none;
			text-align: center;
		}
		
		li {
			display: inline-block;
			font-size: 1.7rem;
			margin: 0;
			@include media(max-width $screen-sm){
				padding: 10px 0;
				&:last-child {
					display: none;
				}
			}
			
			a {
				text-decoration: none;
				color: $font-color-light;
				font-size: 1.7rem;
			}
       
			&:last-child{
	            width: 100%;
	            height: 0;
            }
            @include media(max-width $screen-sm){width: 100%;}
		}
	}	
}