.category-title {
    font-family: $serif-font-family;
}
.post-excerpt{
    border-bottom: 1px solid lighten($font-color-light, 20%);
    padding-bottom: 2em;

    &:last-of-type{
        border-bottom: none;
    }

    .excerpt-footer{
        color: $font-color-light;
        font-style: italic;
        
        .date{
            color: $primary-color;
        }
    }
    
    h2{
        margin-bottom: 0.6em;
    }
}
.cat-bamboo, .cat-work, .cat-risk, .cat-design{
            color: $blue;
        }
.cat-humanitarian, .cat-creativity, .cat-tech {
            color: $red;
        }
.cat-challenge, .cat-interns, .cat-team{
            color: $purple;
        }
.cat-innovation, .cat-clients, .cat-this-year{
            color: $yellow;
        }
.cat-standing-out, .cat-content, .cat-product-development{
            color: $orange;
        }
.cat-courage, .cat-marketing, .cat-snippet{
            color: $green;
        }