
/* Source Sans from Google */
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGO4s1Ux4PuImWPk5fSr6HPL3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGKUt5Ot5NIMarvNW-hkYWvT3rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}




// Site Icons

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?sb1ucc');
	src:url('fonts/icomoon.eot?#iefixsb1ucc') format('embedded-opentype'),
		url('fonts/icomoon.woff?sb1ucc') format('woff'),
		url('fonts/icomoon.ttf?sb1ucc') format('truetype'),
		url('fonts/icomoon.svg?sb1ucc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-googleplus:before {
	content: "\e600";
}
.icon-envelope:before {
	content: "\e601";
}
.icon-mobile:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e605";
}
.icon-rdio:before {
	content: "\e607";
}
.icon-spotify:before {
	content: "\e608";
}
.icon-instagram:before {
	content: "\e606";
}

