.menu-button{
	font-family: $serif-font-family;
	display: inline-block;
	color: $font-color;
	text-decoration: none;
	float: right;
	position: relative;
	z-index: 3; // Layer 3
	margin-top: 1em;
	
	.menu-icon{
		width: 20px;
		float: right;
		position: relative;
		top: 9px;
		left: 10px;
		
		.bar{
			border-bottom: 1px solid $primary-color;
			margin-bottom: 5px;
			position: relative;
			@include transition(.3s all);
		}
		
	}
	
	span{
		font-size: 22px !important;
	}
	
	
	&.active{
		.bar{
			
			opacity: 0;
			
			&:first-child{
				opacity: 1;
				border-color: $error;
				@include transform(translateY(6px) rotate(45deg) translate3d(0, 0, 0));
			}
			
			&:last-child{
				opacity: 1;
				border-color: $error;
				@include transform(translateY(-6px) rotate(-45deg) translate3d(0, 0, 0));
			}
		}
	}
	
}

h1.logo{
	background-image: url('../images/bamboo.svg');
	background-size: 100%;
	width: 140px;
	height: 50px;
	margin: .1em 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

header.header{
	padding-top: 1em;
	
	@include media(max-width $mamabear){padding-top: .2em;}
	
	.page{
		margin-bottom: 2em;
	}
	
}

.full-nav{
	width: 100%; height: 100%; left: 0; top:110px;
	padding-bottom: 110px;
	background: $primary-color;
	position: fixed;
	opacity: 0;
	z-index: -1;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	@include transform(translateY(-100%) translate3d(0, 0, 0));
	@include transition(.5s all $ease-out-quart);
	@include media(max-width $mamabear){top: 70px; padding-bottom: 75px;}
	&.active{
		opacity: 1 !important;
		z-index: 2;
		@include transform(scale(1));
        .menu-posts{
		    li{
                @include transform(translateY(0) translate3d(0, 0, 0));
                }
		    }

	}
	div{
	    text-align: center;
	    span{
            border: 1px solid;
            padding: 10px 12.9%;
            color: white;
	    }
    	&:before{
    	    content: '';
        	display: inline-block;
        	border-top: 1px solid white;
        	width: 28%;
        	float: left;
        	margin-top: 16px;
        	@include media(max-width $mamabear){width: 0px}
    	}
    	&:after{
            content: '';
            display: inline-block;
        	border-top: 1px solid white;
            width: 28%;
            float: right;
            margin-top: 16px;
            @include media(max-width $mamabear){width: 0px}
    	}
	}
	li{
		a{
			font-size: 1.5em;
			line-height: 1em;
			padding-top: 10px;
			padding-bottom: 10px;
			color: white;
			text-decoration: none;
			border-bottom: 2px solid transparent;
						
			@include media(min-width $mamabear max-width $papabear){
				font-size: 1.2em;
			}
			
			
			&:hover{
			    @include transition(.3s border);
    			border-bottom: 2px solid white;
			}
		}
	}
	
	.menu-posts{
        
		li{
            @include transition(0.5s transform $ease-in-out-quad);
            @include transform(translateY(-100px) translate3d(0, 0, 0));
			margin-bottom: 1em;
			a{
				font-size: 1.6em;
			}
            &:nth-child(1){@include transition-duration(.4s);}
            &:nth-child(2){@include transition-duration(.5s);}
            &:nth-child(3){@include transition-duration(.6s);}
            &:nth-child(4){@include transition-duration(.7s);}
			
		} 
	}
	
	nav.site-nav{
		font-family: $serif-font-family;
		position: relative;
		ul{
			display: block;
			margin: 0px auto;
			padding: 50px 0;
			width: 50%;
			text-align: justify;
			font-size: 0.1px;
			&:after{
                content: '';
                display: inline-block;
                width: 100%;
                }
			li{
    			display: inline-block;
            &:last-child{
                width: 100%;
                height: 0;
                }
                @include media(max-width $mamabear){width: 100%;}
			}
		}	
	}

	ul.page{
    	list-style-type: none;
    	text-align: center;
    	position: relative;
        li{
            padding: 10px 0px;
            
            a{
                font-family: $sans-serif-font-family;
                font-weight: 600;
                -webkit-font-smoothing: antialiased;
                border:none;
                text-transform: capitalize;
                &:hover{
                     border: none;
                 }
            }    
            
            span{
                display: block;
                -webkit-font-smoothing: antialiased;
                color: white;
            }
        }
	}
}

.overflow-hidden {
    overflow: hidden;
    // position: fixed;
    width: 100%;
    }