.post-header{
	text-align: center;
	
	.pub-title{
		margin-bottom: 0em;
        text-transform: capitalize;
		
		&:after{
			content: '';
			display: block;
			border-bottom: 1px solid $primary-color;
			width: 100px;
			margin: .30em auto;
		}
		
	}
	
	.pub-date, .pub-author{
		margin-bottom: .5em;
		font-size: 1.2em;
	}
	
	.pub-date{
		font-size: .8em;
		color: lighten($font-color, 50%);
	}
}

.post-content{
	margin-top: 2em;
}
.feat-img{
    width: 100%;
}
.left-img{
    float: left;
    padding-right: 30px;
    box-sizing: content-box;
}
blockquote{
    p{
        padding-left: 2em;
        border-left: 3px solid $font-color-light;
        color: $font-color-light;
        em{
            display: block;
            text-align: right;
            color: $font-color;
        }
    }
}
.serif { font-family: $serif-font-family !important;}
.p-wimage {min-height: 200px;}
.peep-img{
    float: left;
    margin-right: 25px;
    height: 80px;
    border-radius: 40px;
}