.project-archive{
	
	@include outer-container;
	
	.project{
		display: table-cell;
		@include span-columns(4);
		width: 33.3%;
		margin-right: 0;
		@include pad(0);
		padding: 3em .5em;
		border-bottom: 1px solid #eee;
		
		height: 240px;
		vertical-align: middle;
		
		@include transition(.3s background);
		
		&:nth-child(2){
			border-left: 1px solid #eee !important;
			border-right: 1px solid #eee !important;
		}
		
		&:hover{
			background: $primary-color;
		}
		
		img{
			width: 100%;
		}
		
		@include media(max-width $mamabear){
			@include span-columns(6);
			margin-right: 0;
			width: 50%;
			height: auto;
			padding: 3em 0;
			
			&:nth-child(2){
				border-right: 1px solid transparent !important;
			}
			
		}

	}
	
	&:last-child{
		.project{
			border-bottom: 0px;
		}
	}
	
	
}

.proj-header{
	text-align: center;
	
	.proj-title{
		margin-bottom: 0em;
		
		&:after{
			content: '';
			display: block;
			border-bottom: 1px solid $primary-color;
			width: 100px;
			margin: .30em auto;
		}
		
	}
	
	.proj-services, .proj-url{
		margin-bottom: .5em;
		font-size: 1.2em;
	}
	
	.proj-url{
		font-size: .8em;
		margin-top: 1em;
	}
}

.proj-content{
	margin-top: 2em;
	
	img{
		margin: 1em 0;
		
		@include media(max-width $mamabear){
			// full width?
		}
		
	}
	
}

