---
layout: page
fulltitle: Bamboo Creative | Executing beautiful ideas in Northern CA
---
<div class="home-tag"> 
	<h1>Unleash your company's creative potential.</h1>
	<p>We are a creative firm in Northern California pushing ourselves and clients to execute <a title="Beautiful" href="/blog/beautiful/">beautiful</a> ideas. We delve into creative strategy, branding, design and product development.</p>
	<span>Some of our trusted clients:</span>
	<div class="feat-clients">
    	    {% assign projects = site.project | sort: 'feat-order' %}
           	{% for project in projects %}
    		    {% if project.feat-order %}
                	{% include /logos/{{project.slug}}/logo.svg %}
    		    {% endif %}
            {% endfor %} 
	</div>
	<a class="button" href="/projects">Our Work</a>
</div>
