</div> <!-- closes div.web-wrapper -->

<footer id="footer">
	
	<div class="footer-contact">
		<div><a href="mailto:{{site.email}}" title="Email Us">{{site.email}}</a></div>
		<div>&copy; Bamboo Creative <span class="pipe">|</span> <a href="{{site.address-map}}" target="_blank" title="Google Maps">Rocklin, CA</a></div>
		<div>{{site.phone}}</div>
	</div>
	
</footer>

<script src="/js/app/app.min.js"></script>
<script src="/js/main.js"></script>

<!-- Google Analytics: BambooCreative account. Owned by garrett@bamboocreative.com -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-54995017-1');ga('send','pageview');
</script>

