</div> <!-- closes div.web-wrapper -->
<footer id="footer">
	<section class="page">
		&copy; Bamboo Creative 2014 - <a href="{{ site.path | prepend: '/' | replace: '//', '/' }}contact/">Contact</a>
	</section>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% comment %} If Google's CDN doesn't load, load this fallback {% endcomment %}
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="/js/app/app.min.js"></script>

<!-- Google Analytics: BambooCreative account. Owned by garrett@bamboocreative.com -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-54995017-1');ga('send','pageview');
</script>