<div class="web-wrapper"> <!-- opens here, closes before the footer -->
	<header class="header">
	    <section class="page">
		    <a href="/"><h1 class="logo">Bamboo Creative</h1></a>
		    <a class="menu-button" href="javascript:void(0)"><div class="menu-icon"><div class="bar"></div><div class="bar"></div><div class="bar"></div></div><span>MENU</span></a>
		    <div class="full-nav">
			    <nav class="site-nav" role="navigation">
			        <ul>
			        
			        
			        
			        
				        <li><a href="{{ site.path | prepend: '/' | replace: '//', '/' }}blog/">Blog</a></li>
				        <li><a href="{{ site.path | prepend: '/' | replace: '//', '/' }}contact/">Contact</a></li>
			        </ul>
			        <ul>
				        <li><a href="{{ site.path | prepend: '/' | replace: '//', '/' }}projects/">Work</a></li>
				        <li><a href="{{ site.path | prepend: '/' | replace: '//', '/' }}about/">About Us</a></li>
			        </ul>
			    </nav>
		    </div>
	    </section>
	</header>