<div class="web-wrapper"> <!-- opens here, closes before the footer -->
	<header class="header">
	    <section class="page">
		    <a href="/" class="logo" title="Bamboo Creative Home"><h1 class="logo-image">Bamboo Creative</h1></a>
		     <nav class="site-nav" role="navigation">
			        <ul>
				        <li><a href="/projects" title="our work">our work</a></li>
			        	<li><a href="/services" title="what we do">what we do</a></li>
			        	<li><a href="/team" title="about us">our team</a></li>
			        	<li><a href="/contact" title="contact">talk to us</a></li>
			        	<li></li>
			        </ul>
			    </nav>
	    </section>
	</header>