<div class="web-wrapper"> <!-- opens here, closes before the footer -->
	<header class="header">
	    <section class="page">
		    <a href="/" class="logo" title="Bamboo Creative Home"><h1 class="logo-image">Bamboo Creative</h1></a>
		    	<a href="#" class="mobile-menu-button trigger-menu" title="Show Menu">MENU</a>
				<nav class="site-nav mobile-nav" role="navigation">
					<div class="close-mobile-nav"><a href="#" class="trigger-menu"><span class="">&times;</span> close</a></div>
			        <ul>
				        <li><a href="/our-work" title="our work">our work</a></li>
			        	<li><a href="/what-we-do" title="what we do">what we do</a></li>
			        	<li><a href="/our-team" title="about us">our team</a></li>
			        	<li><a href="/talk-to-us" title="contact">talk to us</a></li>
			        	<li></li>
			        </ul>
			    </nav>
	    </section>
	</header>
	<header class="header fixed-header">
	    <section class="page">
		    <a href="/" class="logo" title="Bamboo Creative Home"><h1 class="logo-image">Bamboo Creative</h1></a>
		    	<a href="#" class="mobile-menu-button trigger-menu" title="Show Menu">MENU</a>
				<nav class="site-nav no-mobile" role="navigation">
					<div class="close-mobile-nav"><a href="#" class="trigger-menu"><span class="">&times;</span> close</a></div>
			        <ul>
				        <li><a href="/our-work" title="our work">our work</a></li>
			        	<li><a href="/what-we-do" title="what we do">what we do</a></li>
			        	<li><a href="/our-team" title="about us">our team</a></li>
			        	<li><a href="/talk-to-us" title="contact">talk to us</a></li>
			        	<li></li>
			        </ul>
			    </nav>
	    </section>
	</header>