<section class="page project-content clear medium--wrap">
	<div class="medium--left">
		<p class="wtgc">This Was Posted In our Medium Publication&#58; <em>Way To Go, Champ.</em></p>
		<p><a class="gray--dark" href="{{page.medium_article}}">{{page.title | capitalize }}</a></p>
	</div>
	<div class="medium--right">
		<script async data-collapsed="false" data-border="false" src="https://static.medium.com/embed.js"></script><a class="m-collection" href="https://medium.com/way-to-go-champ">Way To Go, Champ.</a>
	</div>
</section>