{% if user.account == "facebook" %}<a class="{{user.account}}" target="_blank" href="//facebook.com/{{user.username}}"><i class="icon-{{user.account}}"></i></a>{% endif %}

{% if user.account == "twitter" %}<a class="{{user.account}}" target="_blank" href="//twitter.com/{{user.username}}"><i class="icon-{{user.account}}"></i></a>{% endif %}

{% if user.account == "instagram" %}<a class="{{user.account}}" target="_blank" href="//instagram.com/{{user.username}}"><i class="icon-{{user.account}}"></i></a>{% endif %}

{% if user.account == "dribbble" %}<a class="{{user.account}}" target="_blank" href="//dribbble.com/{{user.username}}"><i class="icon-{{user.account}}"></i></a>{% endif %}

{% if user.account == "github" %}<a class="{{user.account}}" target="_blank" href="//github.com/{{user.username}}"><i class="icon-{{user.account}}"></i></a>{% endif %}

{% if user.account == "rdio" %}<a class="{{user.account}}" target="_blank" href="//rdio.com/people/{{user.username}}"><i class="icon-{{user.account}}"></i></a>{% endif %}

{% if user.account == "spotify" %}<a class="{{user.account}}" target="_blank" href="//play.spotify.com/user/{{user.username}}"><i class="icon-{{user.account}}"></i></a>{% endif %}