@include media(max-width $screen-sm-max) {
    .post-wrap {
        .blog-post-title {}

        h1 {}

        .project-content {
            margin-top: 1em !important;
        }
    }
}


.post-header {
    text-align: center;

    .pub-title {
        margin-bottom: 0em;
        text-transform: capitalize;

        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid $primary-color;
            width: 100px;
            margin: .30em auto;
        }
    }

    .pub-date, .pub-author {
        margin-bottom: .5em;
        font-size: 1.2em;
    }

    .pub-date {
        font-size: .8em;
        color: lighten($font-color, 50%);
    }
}

.post-content {
    margin-top: 2em;
}

.feat-img {
    width: 100%;
}

.left-img {
    float: left;
    padding-right: 30px;
    box-sizing: content-box;
}

blockquote {
    p {
        padding-left: 2em;
        border-left: 3px solid map-get($teal, main);
        color: $font-color-light;
        font-size: 2.3rem;
        font-style: italic;

        em {
            display: block;
            margin-top: 20px;
            font-size: .9rem;
            font-family: $base-sans-font;
            font-style: normal;
            color: map-get($teal, main);
        }
    }
}

.serif {
    font-family: $serif-font-family !important;
}

.p-wimage {
    min-height: 200px;
}

.peep-img {
    float: left;
    margin-right: 25px;
    height: 80px;
    border-radius: 40px;
}

.retreat-gal {
    img {
        width: 32%;
    }
}

.blog-post-title {
    font-size: 5rem;
    max-width: 13em;
    margin: 1em auto;
    color: white;
    text-transform: capitalize;

    @include media(max-width $screen-md-max) {
        font-size: 3rem;
    }
}

.post-wrap {
    p {
        font-size: 1.5rem;
        line-height: 1.65;
    }
}

.wtgc {
    color: $wtgc;
    font-weight: 400;
}

.medium--wrap {
    max-width: 45em;
}

.medium--left {
    @include pad(1em);

    p {
        margin-bottom: .3em;

        a {
            text-decoration: none;
            border-bottom: 1px solid;
        }
    }

    @include span-columns(10 of 12);

    @include shift(1);

    text-align: center;

    @include media(min-width $screen-md) {
        @include span-columns(6.5 of 12);

        @include shift(0);

        text-align: left;
        border: 1px solid;
        border-radius: 5px;
    }
}

.medium--right {
    @include span-columns(10 of 12);

    @include shift(1);

    iframe {
        margin: 0 auto;
    }

    @include media(min-width $screen-md) {
        @include span-columns(5.5 of 12);

        @include shift(0);

        iframe {
            float: right;
        }
    }
}

.center-img {
    margin: auto auto;
    display: table;
}