.post-header {
    text-align: center;

    .pub-title {
        margin-bottom: 0em;
        text-transform: capitalize;

        &:after {
            content: '';
            display: block;
            border-bottom: 1px solid $primary-color;
            width: 100px;
            margin: .30em auto;
        }
    }

    .pub-date, .pub-author {
        margin-bottom: .5em;
        font-size: 1.2em;
    }

    .pub-date {
        font-size: .8em;
        color: lighten($font-color, 50%);
    }
}

.post-content {
    margin-top: 2em;
}

.feat-img {
    width: 100%;
}

.left-img {
    float: left;
    padding-right: 30px;
    box-sizing: content-box;
}

blockquote {
    p {
        padding-left: 2em;
        border-left: 3px solid map-get($teal, main);
        color: $font-color-light;
        font-size: 2.3rem;
        font-style: italic;

        em {
            display: block;
            margin-top: 20px;
            font-size: .9rem;
            font-family: $base-sans-font;
            font-style: normal;
            color: map-get($teal, main);
        }
    }
}

.serif {
    font-family: $serif-font-family !important;
}

.p-wimage {
    min-height: 200px;
}

.peep-img {
    float: left;
    margin-right: 25px;
    height: 80px;
    border-radius: 40px;
}

.retreat-gal {
    img {
        width: 32%;
    }
}

.blog-post-title {
    font-size: 5rem;
    max-width: 15em;
    margin: 1em auto;
    color: white;
}

.post-wrap {
    p {
        font-size: 1.5rem;
        line-height: 1.65;
    }
}