---
layout: default
title: Blog
---

<article class="page" role="main">
    <h2 class="center">Blog</h2>
    {% for post in paginator.posts %}
        <section class="post-excerpt">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.excerpt | markdownify }}</p>
            <p class="excerpt-footer">{{ post.author }} wrote this on <span class="date">{{ post.date | date: "%B %d, %Y" }}</span>.</p>
        </section>
    {% endfor %}

    {% include pagination.html %}    
</article>
