---
layout: default
fulltitle: Blog
---

<section class="page-header">
	<h2 class="page-title">Feel the Boo. Be the Boo.</h2>
	<p class="page-subtitle">A vibrant and objective collection of thoughts, theories, inspiration, and challenges to industry norms; Served up on a platter - as often as we believe we have something that needs to be shared with the planet. Please to enjoy.</p>
</section>

<article class="page blog-feed" role="main" id="header-mark">
    {% include post-feature.html %}
</article>

{% include footer-cta.html text="Put our minds to work" %}