---
layout: page
fulltitle: Our Work
---

<!-- This is the project page! -->
<section class="page-header">
	<h2 class="page-title">Our Work</h2>
	<p class="page-subtitle">What do cities, universities, restaurants, churches, and consulting firms have in common? They're all part of the family of partners we get to work with on a daily basis. Our life is awesome.</p>
</section>

<div id="header-mark"></div>



{% include logo-grid.html logos=site.logos limit=32 class="col-8" text="" %}

{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=0 %}
{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=1 %}
{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=2 %}
{% include testimonial.html text="\"Bamboo has been a catalyst for our brand, leading us to a new level of thinking about how we serve the School of Humanities and Sciences.\"" credit="—Dustin Liang, IT Project Manager, Stanford University" class="quote-center"%}

{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=3 %}
{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=4 %}
{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=5 %}
{% include project-grid.html type='' limit=5 offset=6 %}
{% include testimonial.html text="\"Trust me on this, Bamboo has a bigger vision for your company, event, or organization than even you do...good luck.\"" credit="— Tim Ciccone, Youth Ministry Leader, Evangelical Covenant Church" class="quote-center dark no-margin-bottom" %}
{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=11 %}
{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=12 %}
{% include project-feature.html class="show-featured-overlay" showOverlay="show-overlay" type='' limit=1 offset=13 %}



{% include footer-cta.html text="Become one of our case studies" %}
