body {
	@include transition(all .4s $ease-in-out-quad);
}
body.show-message {
	@include transform(translateY(100px) translate3d(0, 0, 0));	
}

.message {
	background-color: map-get($teal, main);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	padding: 30px;
	height: 100px;	
	color: white;
	text-align: center;
	@include transition(all .4s $ease-in-out-quad);
	@include transform(translateY(-100%) translate3d(0, 0, 0));
	font-family: $base-serif-font;
	
	> {
		font-size: .9rem;
		@include media(max-width $screen-sm){
			font-size: .8rem;
		}
	}
	
	.close-message {
		font-size: .9rem;
		position: absolute;
		right: 25px;
		top: 40px;
		cursor: pointer;
		@include media(max-width $screen-sm){
			position: absolute;
			bottom: 5px;
			right: 0;
			left: 0;
			top: initial;
			padding-top: 5px;
			width: 100%;
			border-top: 1px solid map-get($gray, light);
		}
	}
	
}