

.project-link {
	display: block;
	text-decoration: none;
	color: $font-color;
	@include transition(all .1s $ease-in-out-quad);
	
	&:hover {
		color: white;
		.project-background {
			@extend .background-image-hover;
		}
		.project-overlay {
			@extend .show-overlay;
		}
	}
	
}


.project-overlay {
	@extend .overlay;
}

.next-project-badge {
	background-color: rgba(105, 181, 150, 0.70);
	display: inline-block;
	font-size: 1rem;
	padding: 10px 30px;
	font-family: $base-serif-font;
	font-style: italic;
}


.section-project.full-feature {
	
	position: relative;
	overflow: hidden;
	padding: 20% 1em;
	padding: 20vh 1em;
	@include media(max-width $screen-sm) { 
		padding: 10% 1em;
		padding: 10vh 1em;
	}
	
	.project-info-wrapper {
		@include outer-container;
	}
	
	.project-info {
		@include span-columns(8);
		@include media(max-width $screen-sm) { 
			@include span-columns(12);
		}
	}
	
	.project-title {
		font-size: 2.8rem;
		font-weight: 600;
		line-height: 1.2;
		margin: 20px 0;
		@include media(max-width $screen-sm) { 
			font-size: 2.2rem;
		}
	}
	
	.project-tagline {
		margin: 20px 0;
		line-height: 1.5;
		@include media(max-width $screen-sm) { 
			font-size: 1rem;
		}
	}
	
	.project-services {
		margin: 20px 0;
		font-size: 1rem;
		font-style: italic;
		font-weight: 500;
		@include media(max-width $screen-sm) { 
			font-size: .8rem;
		}
	}
	
	.project-background {
		@extend .background-image;
	}
	
	&.show-featured-overlay {
		color: white;
	}
}

