.page-hire-us {
	background-color: map-get($gray, dark);
	.page{
		color: white;
	}
	.page-header {
		margin-bottom: 0;
	}
}


form {
	@include outer-container(50%);
	margin-bottom: 40px;
	
	input, textarea, input[type="text"] {
		background: #9a9a9a;
		color: white;
		border: none;
		margin-top: 15px;
		margin-bottom: 15px;
		width: 100%;
		max-width: 750px;
		display: block;
		resize: none;
		font-size: 1rem;
		padding: 1rem;
		font-family: $base-serif-font;
		font-style: italic;
		@include placeholder {
			color: white;
			font-weight: 500;
		}
		@include media(max-width $screen-sm){
			margin: 10px 0;
		}
	}
	
	textarea {
		min-height: 150px;
	}
	
	.button {
		margin: 10px auto;
		border: none;
		background-color: $action-color;
		color: white;
		display: block;
		@include transition(all .3s ease);
		&:hover {
			background-color: darken($action-color, 10%);
		}
		@include media(max-width $screen-sm){
			margin: 10px 0;
		}
	}

}