.section-hero {
	@include clearfix;
	margin-top: -100px;
	top: -100px;
	position: relative;
	height: 85%;
	overflow: hidden;
	@include media(max-width $screen-sm){
		padding: 80px 0;
		min-height: 600px;
		background-color: map-get($teal, main);
	}
	
	.video-wrapper {
		
	}
	
	//.video-js {padding-top: 56.25%}
	.vjs-fullscreen {padding-top: 0px}
	.vjs-control-bar {display: none;}
	.vjs-caption-settings {display: none;}

	.video-container {
	    position: absolute;
	    top	: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    width: 100%;
	    overflow: hidden;
	    height: 100%;
	    z-index: -1;
		
		video {
			min-height: 100%;
			@include media(max-width $screen-lg) { 
				margin-left: -35%;
			}
			@include media(max-width $screen-sm) { 
				display: none;
			}
			@include media(min-width 1700px) { 
				width: 100%;
			}
		}
	}
		
		
	.tagline-wrapper { 
		@include outer-container;
		padding-bottom: 120px;
		padding-top: 45%;
		padding-bottom: 200px;
		padding-left: 1em;
		padding-right: 1em;
		@include media(min-width $screen-lg) { 
			padding-bottom: 200px;
			padding-left: 0;
			padding-right: 0;
		}
		@include media(max-width $screen-md) { 
			padding-bottom: 200px;
		}
		@include media(max-width $screen-sm) { 
			padding: 35% 1em;
			padding-bottom: 60px;
		}

		@include media(min-width 1700px) { 
			padding-top: 35%;
		}

	}
	
	.tagline-hero {
		@include span-columns(10);
		font-family: $base-serif-font;
		font-weight: 300;
		font-style: italic;
		font-size: 4rem;
		margin: 0;
		z-index: 10;
		color: white;
		@include media(min-width 1700px) { 
			font-size: 5.75rem;
			@include span-columns(12);
		}
		@include media(max-width $screen-sm) { 
			font-size: 2.5rem;
			
		}
		@include media(max-width $screen-md) { 
			@include span-columns(12);
		}

	}
	
	.tagline {
		@include span-columns(10);
		font-family: $base-serif-font;
		font-weight: 100;
		font-style: italic;
		font-size: 1.7rem;
		color: white;
		@include media(min-width 1700px) { 
			font-size: 2.4rem;
			@include span-columns(12);
		}
		@include media(max-width $screen-md) { 
			@include span-columns(12);
		}
		
	}
	
}

.section-services {
	@include outer-container;
	padding: 0 1em 5% 1em;
	text-align: center;
	
	h3 {
		font-family: $serif-font-family;
		font-weight: 200;
		line-height: 1.3;
		
		
		strong {
			font-weight: 600;
			font-size: 120%;
		}
		
	}
	p {
		font-family: $serif-font-family;
		font-weight: 400;
	}
	
	.service-container{
		@include row();
	}
	
	.service-wrapper {
		@include span-columns(4);
		@include media(max-width $screen-sm) { 
			@include span-columns(12);
		}
		
		h3 {
			font-family: $base-sans-font;
			font-size: 1.8rem;
			font-weight: 600;
			color: $action-color;
			border-bottom: 1px solid map-get($gray, faded);
			padding-bottom: 15px;
		}
	}
}

@mixin team-line($line, $name) {
	.team-line{
		left: $line;
		@include media(max-width $screen-md) { 
		}
	}
	.team-member-name{
		left: $name;
		@include media(max-width $screen-md) { 
			left: $name - 3;
		}
	}
 
}

.section-team {
	padding: 10% 1em 0px 1em;
	padding: 10vh 1em 0px 1em;
	text-align: center;
	position: relative;
	@include media(max-width $screen-sm) { 
		border-bottom: 2px solid map-get($gray, faded);
	}
	
	.team-container {
		@include outer-container;
	}
	h3 {
		font-family: $serif-font-family;
		font-weight: 200;
		line-height: 1.3;
		font-size: 4rem;
		margin-bottom: 20px;
		
		@include media(max-width $screen-sm) { 
			margin-top: 0;
			font-size: 2.5rem;	
		}
		
		strong {
			color: #69b696;
		}
		
	}
	p {
		font-family: $serif-font-family;
		font-weight: 400;
		font-size: 1.6rem;
		@include media(max-width $screen-sm) { 
			font-size: 1.2rem;	
		}
	}
	
	.feature-team {
		@include row();
		margin: 120px 40px 0 40px;
		position: relative;
		z-index: -1;
		@include media(max-width $screen-sm) { 
			margin: 80px 0 0 0;
		}
	}
	.team-member{
		@include span-columns(3);
		position: relative;
				
		@include media(max-width $screen-sm) { 
			@include span-columns(4);
			@include omega();
		}
		
		&:last-child {
			@include media(max-width $screen-sm) { 
				display: none;
			}
		}
		
		.team-line {
			position: absolute;
			top: -35px;
			left: 50%;
			width: 15px;
			display: block;
			margin: 0 auto;
			@include media(max-width $screen-md) { 
				width: 10px;
				top: -28px;
			}
		}
		
		.team-member-name {
			position: absolute;
			top: -65px;
			left: 50%;
			text-align: center;
			color: map-get($teal, main);
			font-size: 1.1rem;
			@include media(max-width $screen-md) { 
				top: -56px;
			}
		}
		
		&.cj {
			@include team-line(56%, 54.5%);
		}
		&.dave {
			@include team-line(45%, 41%);
		}
		&.dustin {
			@include team-line(55%, 50%);
		}
		&.angie {
			@include team-line(45%, 40%);
		}
		&.ben {
			@include team-line(50%, 48%);
		}
		&.brian {
			@include team-line(50%, 45%);
		}
		&.josh {
			@include team-line(50%, 45%);
		}
		&.laurey {
			@include team-line(50%, 45%);
		}
		
		&.jake {
			@include team-line(28%, 25%);
		}
		&.emily {
			@include team-line(50%, 45%);
		}
		
		&.byebye {
			@extend .animated;
			@extend .bounceOut;
		}
		&.hellothere {
			@extend .animated;
			@extend .bounceIn;
		}			
	}
}




.section-cta {
	background-color: map-get($teal, main);
	padding: 5% 1em;
	padding: 5vh 1em;
	text-align: center;
	
	.button {
		border-color: white;
		color: white;
		
		&:hover {
			background-color: white;
			color: map-get($teal, main);
		}
		@include media(max-width $screen-sm) { 
			width: 100%;
			padding: 20px 0;
			margin: 5px 0;
			font-size: .9rem;
			max-width: 90%;
		}
	}
}