---
layout: default
---

<article class="page single-person" role="main">

	<header class="person-header">
		<img class="person-image" alt="{{page.name}}" src="/images/people/{{page.image}}">
		<h1 class="person-name">{{ page.name }}</h1>
		<p class="person-bio">{{page.bio}}</p>
		<div class="person-social">
			{% for user in page.social %}
				{% include social.html %}
			{% endfor %}
		</div>
	</header>
	<section class="author-content">
		<section class="author-posts">
			<span>Blog Posts</span>
			{% for post in site.posts %}
		        {% if post.author == page.author %}
		        <section class="post-excerpt">
		            <h3><a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></h3>
		            <p>{{ post.excerpt | markdownify }}</p>
		            <p class="excerpt-footer">{{ post.date | date: "%B %d, %Y" }}</p>
		        </section>
		        {% endif %}
		    {% endfor %}
		</section>
		<section class="author-projects">
			<span>Projects</span>
			{% for post in site.project %}
		        {% if post.authors == page.author %}
					<h3>{{post.title}}</h3>
		        {% endif %}
		    {% endfor %}
		</section>
		
	</section>
	    {% include pagination.html %} 
	<section class="proj-content">
		{{ content }}
	</section>
	
</article>
